.navbar {
  height: 77px;
  padding: 26px 40px;
  width: 100%;
  border-bottom: solid 1px #E6E6E6;
}

.logo {
  background-image: url('../../assets/logo-instagram-2.png');
  width: 110px;
  height: 36px;
  float: left;
}

.add-post {
  background-image: url('../../assets/camera.png');
  width: 32px;
  height: 32px;
  float: left;
}
