<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post"></div>
      <a (click)="sair()" style="margin-left: 25px">Sair</a>
    </div>
  </div>
</nav>

<br /><br /><br />
<div class="container">
  <app-publicacoes></app-publicacoes>
</div>
